body{
	margin: 0;
	padding: 0;
}

header{
	width: 90%;
	margin: auto;
}

nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	float:right;
}

nav li a{
	display: block;
	padding: 15px 15px;
	color:black;
	text-decoration: none;
}

li a:hover{
	color: green;
	border-bottom: 1px solid green;
}

li a{
	margin-top: 40px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive;
}

.active{
	color: green;
	border-bottom: 1px solid green;
}

.contenedor {
	width: 300px;
	height: 70px;
	margin-top: -90px;
}

.seven-form a {
	color: white;
}

.sugerencias {
	font-size: 20px;
	margin: auto;
	width:1343px;
	height:900px;
	background-image: url("../img/subdeldia.png");
	font-family:helvetica;
}

form {
   width: 50%;
   margin: 30px auto 0 auto;
}

.button {
	width: 100px;
	margin: auto;
	margin-top: 50px;
}

.submit{
    padding: 15px;
    border-radius: 50px;
    border:2px;
    background: green; 
    color: yellow;
}

.submit:hover{
    background: yellow;
    color:green;
}

.submit:active{
    background: black;
    color: white;
}

textarea {
	height: 100px !important;
}

.grow {
	border-radius: 5px;
    resize: none;
    width: 60%;
    height: 25px;
    outline: 0;
    background: white;
    color: #2a894e;
}

.one-form,
.two-form{
    width: 50%;
    float: left;
}

.three-form,
.four-form{
    width: 50%;
    float: left;
}

.one-form,
.two-form,
.three-form,
.four-form,
.five-form,
.six-form,
.seven-form{
    padding-bottom: 30px;
    color: white;
    font-weight: bold;
    margin-top: 40px;

}

.one-form input:focus,
.two-form input:focus,
.three-form input:focus,
.four-form input:focus,
.five-form select:focus,
.six-form textarea:focus,
.seven-form input:focus {
	border: 1px solid #66afe9;
   border-color: green;
   font-size: 20px;
}

.one-form input,
.two-form input,
.three-form input,
.four-form input,
.five-form select,
.six-form textarea,
.seven-form input {
	font-size: 20px;

}

.seven-form {
	margin-top: 30px;
}

.g-recaptcha {
	margin-top: 80px;
}

.five-form {
	margin-top: 0;
}

.top {
	margin-top: 0;
}

hr {
	margin-bottom: 0px;
}

.two-form {
	margin-bottom: 50px;

}

.four-form {
	margin-bottom: 50px;
}

/*------footer------*/

.pie-pag{
	width: 100%;
	height: 185px;
	background: #212328;
	border-top: 10px solid #335a33; 
}

.logo-pie{
	margin-top: 40px;
	margin-left: 50px;
	padding: 0;
	margin-right:8%; 
}

.nav-pie{
	display: inline-flex;
	width: 60%;
}

.a1{
	color: yellow;
}

.a1:hover{
	color: white;
	border-bottom:none; 
}

.iconos{
	width: 160px;
	height: 50px;
	float: right;
	margin-top: 55px;
	margin-right: 60px;
	opacity: 0.5;
}

.pie-texto{
	text-align: center;
	color: #3b3e42;
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
}

.iconos:hover{
	opacity: 1;
}
