body{
	margin: 0;
	padding: 0;
}

header{
	width: 90%;
	margin: auto;
}

nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	float:right;
}

nav li a{
	display: block;
	padding: 15px 15px;
	color:black;
	text-decoration: none;
}

li a:hover{
	color: green;
	border-bottom: 1px solid green;
}

li a{
	margin-top: 40px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive;
}

.active{
	color: green;
	border-bottom: 1px solid green;
}

.contenedor{
	width: 90%;
	margin: auto;
}

/*slider*/

.slide {
	border-top: 3px solid #1E725A;
    border-bottom: 3px solid #1E725A;
    width: 100%;
    height: 350px;
    margin: 2% auto;
    border-radius: .5em;
    box-shadow: 10px 10px 5px #888;
    position: relative;
    z-index: 0;     
}
 
.slide img{
    width: 100%;
    height: 100%;
    position: absolute; 
}
 
.slide .img2, .slide .img3, .slide .img4 {
    display: none;
}

.slide figure {
    margin: 0;
}

/*slider*/

.izquierda {
	position: absolute;
	top: 400px;
	margin-top: -6%;
	left: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.derecha {
	position: absolute;
	top: 400px;
	margin-top: -6%;
	right: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.derecha:hover{
	opacity: 1;
}

.izquierda:hover{
	opacity: 1;
}

/*------pasos---------*/

.pasos-general{
	width: 100%;
	height: 290px;
}

.pasos{
	width: 80%;
	height: 250px;
	margin: auto;
}

.cuadro-pasos{
	width: 30%;
	height: 250px;
	float: left;
	border: 2px solid green;
	padding: 3px;
	margin: 10px;
	opacity: 0.5;
}

.pasos-pie{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 25px;
	border-bottom: 2px solid yellow;
}

.cuadro-pasos:hover{
	opacity: 1;
}

/*------footer------*/

.pie-pag{
	width: 100%;
	height: 185px;
	background: #212328;
	border-top: 10px solid #335a33; 
}

.logo-pie{
	margin-top: 40px;
	margin-left: 50px;
	padding: 0;
	margin-right:8%; 
}

.nav-pie{
	display: inline-flex;
	width: 60%;
}

.a1{
	color: yellow;
}

.a1:hover{
	color: white;
	border-bottom:none; 
}

.iconos{
	width: 160px;
	height: 50px;
	float: right;
	margin-top: 55px;
	margin-right: 60px;
	opacity: 0.5;
}

.pie-texto{
	text-align: center;
	color: #3b3e42;
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
}

.iconos:hover{
	opacity: 1;
}