body{
	margin: 0;
	padding: 0;
}

header{
	width: 90%;
	margin: auto;
}

nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	float:right;
}

nav li a{
	display: block;
	padding: 15px 15px;
	color:black;
	text-decoration: none;
}

li a:hover{
	color: green;
	border-bottom: 1px solid green;
}

li a:{
	color: yellow;
	border-bottom: 1px solid yellow;
}

li a{
	margin-top: 40px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive;
}

.contenedor{
	width: 90%;
	margin: auto;
}

.active{
	color: green;
	border-bottom: 1px solid green;
}

/*-------MENU---------*/

.cuadros-de-menu{
	width: 90%;
	margin:auto;
	margin-top: 20px;
}

.one-menu{

	width: 47%;
	height: 470px;
	float: left;
	margin: 15px;
	opacity: 0.5;
}

.one-menu:hover{
	opacity: 1;
	-webkit-animation: bounce 1s infinite;
	
}

.contenedor-imagen{
	width: 100%;
	height: 60%;
}

.titulo-menu{
	text-align: center;
	font-size: 25px;
	margin: 0;
	margin-top:10px; 
	font-family: 'Bangers', cursive;
}

.texto-menu{
	width: 90%;
	height: 30%;
	margin: auto;
	padding: 10px;
	font-size: 20px;
	font-family: 'Karla', sans-serif;

}

/*------footer------*/
.pie-pag{
	width: 100%;
	height: 185px;
	background: #212328;
	border-top: 10px solid #335a33;
	margin-top:120%;  
}

.logo-pie{
	margin-top: 40px;
	margin-left: 50px;
	padding: 0;
	margin-right:8%; 
}

.nav-pie{
	display: inline-flex;
	width: 60%;
}

.a1{
	color: yellow;
}

.a1:hover{
	color: white;
	border-bottom:none; 
}

.iconos{
	width: 160px;
	height: 50px;
	float: right;
	margin-top: 55px;
	margin-right: 60px;
	opacity: 0.5;
}

.pie-texto{
	text-align: center;
	color: #3b3e42;
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
}

.iconos:hover{
	opacity: 1;
}


@-webkit-keyframes 
bounce{0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}40%{-webkit-transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px)}}@-moz-keyframes
bounce{0%,20%,50%,80%,100%{-moz-transform:translateY(0)}40%{-moz-transform:translateY(-30px)}60%{-moz-transform:translateY(-30px)}}@-o-keyframes
bounce{0%,20%,50%,80%,100%{-o-transform:translateY(0)}40%{-o-transform:translateY(-30px)}60%{-o-transform:translateY(-15px)}}@keyframes
bounce{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(-30px)}60%{transform:translateY(-15px)}}