body{
	margin: 0;
	padding: 0;
	width: 100%;
}

header{
	width: 100%;
	margin: auto;
}

nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	float:right;
}

nav li a{
	display: block;
	padding: 15px 15px;
	color:black;
	text-decoration: none;
}

li a:hover{
	color: green;
	border-bottom: 1px solid green;
}

li a{
	margin-top: 40px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive;
}

.active{
	color: green;
	border-bottom: 1px solid green;
}

.contenedor{
	width: 100%;
	margin: auto;
}

/*-------MAPS---------*/

.cuadro-entero{
	width: 100%;
	margin: auto;
	margin-top:50px;
}

div.titulo{
	width:100%;
	height:50px;
	background-color: #335a33;
	overflow: hidden;
	border-bottom: 1px solid white;
	text-align: center;
	font-size: 25px;
}

p.titulo{
	margin:13px;
	color: white;
	font-family: 'Comfortaa', cursive;
}

#info{
	width:90%;
	height:280px;
	z-index: 1;
	background-color: #f5f5f5;
	overflow: hidden;
	-webkit-transition: height 0.2s;
	cursor: pointer;
}

.titulo {
	cursor: pointer;
}

h3{
	text-align: center;
}

/*------footer------*/

.pie-pag{
	width: 100%;
	height: 185px;
	background: #212328;
	border-top: 10px solid #335a33;
	margin-top:5%; 
}

.logo-pie{
	margin-top: 40px;
	margin-left: 50px;
	padding: 0;
	margin-right:8%; 
}

.nav-pie{
	display: inline-flex;
	width: 60%;
}

.a1{
	color: yellow;
}

.a1:hover{
	color: white;
	border-bottom:none; 
}

.iconos{
	width: 160px;
	height: 50px;
	float: right;
	margin-top: 55px;
	margin-right: 60px;
	opacity: 0.5;
}

.pie-texto{
	text-align: center;
	color: #3b3e42;
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
}

.iconos:hover{
	opacity: 1;
}