body{
  margin: 0;
  padding: 0;
  background-image: url("../img/123.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 800px; 
 }

header{
  width: 90%;
  margin: auto;
}

nav ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  float:right;
}

nav li a{
  display: block;
  padding: 15px 15px;
  color:black;
  text-decoration: none;
}

li a:hover{
  color: green;
  border-bottom: 1px solid green;
}

li a{
  margin-top: 40px;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
}

.active{
  color: green;
  border-bottom: 1px solid green;
}

.contenedor{
  width: 90%;
  margin: auto;
}

/*------sugerencias---------*/

.sugerencias{
	width: 100%;
	height: 300px;
	margin: auto;
  margin-top: 90px;
}

form {
   width: 50%;
   margin: 30px auto 0 auto;
}

.grow{
    border-radius: 5px;
    resize: none;
    width: 50%;
    height: 20%;
    outline: 0;
}

form{
    display: block;
    text-align: center;
}

.one-form,
.two-form{
    padding-bottom: 30px;
}

.submit{
    padding: 15px;
    border-radius: 50px;
    border:2px;
    background: green; 
    color: yellow;
}

.submit:hover{
    background: yellow;
    color:green;
}

.submit:active{
    background: black;
    color: white;
}

.one-form input,
.two-form textarea,
.one-form,
.two-form label {
   display: block;
   width: 100%;
   box-sizing: border-box;
   margin-top: 20px
}

.one-form input:focus,
.two-form textarea:focus {
   outline: none;
   border: 3px solid #66afe9;
   border-color: green;
}

.one-form,
.two-form label{
    margin-bottom: 20px;
}

textarea{
    height: 100px !important;
}

.sube{
	font-size: 20px;
  font-family:helvetica;
}

.one-form input{
    height: 30px;
}

/*------footer------*/

.pie-pag{
  width: 100%;
  height: 185px;
  background: #212328;
  border-top: 10px solid #335a33;
  margin-top:14%; 
}

.logo-pie{
  margin-top: 40px;
  margin-left: 50px;
  padding: 0;
  margin-right:8%; 
}

.nav-pie{
  display: inline-flex;
  width: 60%;
}

.a1{
  color: yellow;
}

.a1:hover{
  color: white;
  border-bottom:none; 
}

.iconos{
  width: 160px;
  height: 50px;
  float: right;
  margin-top: 55px;
  margin-right: 60px;
  opacity: 0.5;
}

.pie-texto{
  text-align: center;
  color: #3b3e42;
  font-family: 'Comfortaa', cursive;
  font-size: 10px;
}

.iconos:hover{
  opacity: 1;
}
